* {
  box-sizing: border-box;
  }
  
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: auto;
}
/* HEADER */
header {
  width: 100%;
  height: 100px;
  background-color: #385a64;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}

header h1 {
  margin: 0;
  line-height: 28px;
  color: white;
  padding-top: 30px;
  font-size: 25px;
}

/* HERO */
.hero {
  width: 100%;
}

.hero_title {
  font-size: 48px;
}

.hero_title span {
  color: #ff735c;
}

.hero_description {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.hero_actions {
  margin-top: 140px;
}

.hero_wrapper {
  display: flex;
  margin-top: 140px;
  margin-bottom: 128px;
}

.hero_content {
  padding-right: 187px;
}

.hero_image img {
  width: 442px;
  height: 442px;
}

/* LOCATION */
.location {
  width: 100%;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  min-height: 100px;
}

a.direct {
  /* -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; */
  text-decoration: none;
  color: initial;
}

.location_title {
  width: 100%;
  height: 55px;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FF735C;
}

.location__content {
  padding: 50px 0;
}

/* BUTTON COMPONENT */
.btn {
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #ffffff;
  background: #ffffff;
  transition: 250ms;
  background-color: #385a64;
  font-size: 18px;
  line-height: 21px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* CARD COMPONENT */
.card {
  padding-top: 20px;
  margin-bottom: 73px;
  display: flex;
}

.card_wrapper_1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  padding: 75px 30px 30px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  position: relative;
}

.card_header {
  position: absolute;
  left: 73px;
  top: -90px;
  height: 150px;
  width: 150px;
  background-color: #e9f5f3;
  border-radius: 50%;
}

.card_header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.card_point {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 90px;
  top: 0px;
  background-color: #ff735c;
  border: 3px solid rgba(255, 255, 255, 0.45);
  border-radius: 50%;
}

.card_point span {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
}

.card_title {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #385A64;
}

.card_description {
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

.card_wrapper_2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 75px 30px 30px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  position: relative;
}

.card_wrapper_3 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  padding: 75px 30px 30px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  position: relative;
}

/* FOOTER */
footer {
  width: 100%;
  height: 35px;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  margin: 53px 0px;
  color: #0C0F53;
}

/* RESPONSIVE */
@media only screen and (max-width: 375px) {
  .container {
    width: 90%;
    max-width: 375px;
    margin: auto;
  }

  header h1 {
    margin: 0px 25px 0px 25px;
    font-size: 14px;
    line-height: 16px;
    color: #F0F0F0;
  }

  header {
    width: 375px;
    height: 67px;
    background-color: #385a64;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  
  .hero_wrapper {
    display: block;
  }

  .hero_content {
    padding: 0;
    margin-top: 420px;
  }

  .hero_title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  .hero_description {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  .hero_image img {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 34px;
    top: 125px;
  }

  .hero_actions {
    margin-top: 40px;
  }

  a.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  .card {
    display: block;
  }

  .card_wrapper_1 {
    margin: 90px 0px 150px 0px;
    width: auto;
  }

  .card_wrapper_2 {
    margin: 0px 0px 150px 0px;
    width: auto;
  }

  .card_wrapper_3 {
    margin: 0;
    width: auto;
  }

  .card_header {
    left: 90px;
  }
}